.container{
    display: flex;
    position: absolute;
    left: 50%;
    top: 0%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 520px;
    flex-direction: column;
    align-items: center; /* center vertically */
}

table {
    border-collapse: collapse;
    width: 200%; /* Set the width of the table to 90% */
    border: 1px solid black; /* Add a border line to the table */
    margin-top: 20px; /* Add margin to the top of the table */
    background-color: #d9d9d9;
}

th, td {
    text-align: center;
    padding: 10px;
}
td {
    background-color: #666666;
    font-weight: bold;
  }

th:nth-child(1), td:nth-child(1) {
    width: 30%;
    text-align: center;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;
}

th:nth-child(3), td:nth-child(3) {
    width: 15%;
}

td .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

td .quantity input {
    width: 30px;
    border: none;
    text-align: center;
    font-weight: bold;
}

td .quantity button {
    width: 30px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
}

th:nth-child(4), td:nth-child(4) {
    width: 20%;
}

th:nth-child(5), td:nth-child(5) {
    width: 15%;
}

td .item img {
    display: block;
    max-width: 100%;
    height: auto;
}

td .item span {
    position: relative;
    top: -45px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.payment {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px;
  }
  
  .payment label {
    flex-basis: 50%;
  }
  
  .payment input[type="number"] {
    flex-basis: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .insufficient {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  .delete {
    background-color: #ff4136;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }